<header class="position-sticky top-0 bg-light shadow-sm z-3 py-2" style="z-index: 1030;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand fw-bold" href="#">Shopping Cart</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
      <!-- Left Nav Items -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Products</a>
        </li>

        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        {{/if}}

        <li class="nav-item position-relative">
          <a class="nav-link d-inline-flex align-items-center position-relative" href="/cart">
            Cart
            {{#if user}}
            <span class="badge bg-success rounded-circle position-absolute"
              style="top: -0.3rem; right: -1.2rem; font-size: 0.7rem; min-width: 1.4rem;" id="cart-count-header">
              {{cartQty}}
            </span>

            {{/if}}
          </a>
        </li>
      </ul>

      <div class="dropdown mr-2">
        <a href="/profile" class="btn btn-outline-dark">
          <i class="bi bi-person-circle"></i>
          <span>
            {{#if user}}{{user.Name}}{{else}}Account{{/if}}
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>