<div class="container mt-5">
  <div class="card shadow p-4">
    <h3 class="mb-4"><i class="bi bi-person-circle"></i> My Profile</h3>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Name:</strong> {{user.Name}}</li>
      <li class="list-group-item"><strong>Email:</strong> {{user.Email}}</li>
      {{#if user.Phone}}
      <li class="list-group-item"><strong>Phone:</strong> {{user.Phone}}</li>
      {{/if}}
    </ul>

    <div class="mt-4">
      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
  </div>
</div>
