* {
  box-sizing: border-box;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.product-section {
  margin-top: -1rem;
}

td,
tr,
th {
  vertical-align: middle !important;
}


#price {
  margin-top: -0.7rem;
}
.cart-message {
  opacity: 0;
  display: flex;
  align-items: start;
  transition: opacity 0.3s ease;
  height: 20px;
}

.cart-message.show {
  opacity: 1;
   color: green;
}


/* .exist-message {
  color: red;
  font-weight: 500;
  margin-top: -0.7rem;
  opacity: 1;
} */

.addCartBtn {
  background-color: #f5ac3e !important;
  border: none !important;
  color: black !important;
  font-weight: 500 !important;
  border-radius: 100px !important;
}

.buyNowBtn {
  background-color: #ff5100 !important;
  border: none !important;
  color: black !important;
  font-weight: 500 !important;
  border-radius: 100px !important;
}

.placeOderBtn {
  background-color: #fb641b !important;
  border: none !important;
  color: white !important;
  border-radius: 100px !important;
}