*{
  box-sizing: border-box;
}
.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}
.product-section{
  margin-top: -1rem;
}
.custom-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 1em;
}

